.container{
    background-color:	transparent;
    border: ridge rgb(255, 253, 253) 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 19em;
    height: fit-content;
    margin: 1em;
    padding: 1em;
}
.container h2{
    margin: 0.2em;
    font-size: large;
    color: white;
}

.titleName{
    font-family: Arial;
    text-align: center;
}

.closeButton{
    border: 0px;
    background-color: rgb(252, 0, 0);
    width: fit-content;
    height: fit-content; 
    border-radius: 15px;
    transition: 0.5s;
    color: white;
    font-weight: 700;

}
/* Efecto del botón cerrar */
.closeButton:hover{
    box-shadow: 1px 1px 0px 10px rgba(255,0,0,1);
}

