.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #97ce4c;
    padding: 1em;
    /* flex-direction: row; */
    margin: 1em 0em 1em 0em;
    width: auto;
 }
 